* {

    font-family: Arial, sans-serif;
    font-size: 30px;
    box-sizing: border-box;


    scroll-behavior: smooth;
}

body {
    margin: 10;
    padding: 100px 500px 100px 300px;
    background-color: #b5cdd8;
}

.links {
    position: fixed;   
    top: 300px;         
    right: 150px;       
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.links a {
    font-size: 30px;
}

.section1 {
    text-align: center;
    background-color: #01aeff;
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
}

.section2 {
    text-align: center;
    background-color: #ff6f61;
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
}

.section3 {
    text-align: center;
    background-color: #90ee90;
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
}

.section4 {
    text-align: center;
    background-color: #ffb6c1;
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
}

.section5 {
    text-align: center;
    background-color: #ffa500;
    padding: 50px;
    margin: 100px;
    border-radius: 50px;
}

.footer{
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 768px){
    
    body {
        padding: 20px;
    }

    .links {
        position: static;
        flex-direction: column;
        justify-content: center;
        gap:10px;
        margin-bottom: 20px;
        top: 20px;
        right: 20px;
    }

    .links a{
        font-size: 30px;
    }
    .section1, .section2, .section3, .section4, .section5 {
        margin: 20px 0;
        padding: 20px;
    }
    
}


/*
Author: Arl Dominyq A. Frani
Description: M1-FA3 created by Arl Dominyq A. Frani.
*/